@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.theme.min.css');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/utilities';
@import "bundles";
 
html {
    scroll-behavior: smooth;
}

  
  /* Remove these to get rid of the spinner */
  #nprogress .spinner { 
    position: fixed;
    z-index: 100;
    top: 50%;
    right: 50%;
  }
  
  #nprogress .spinner-icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
  
    border: solid 3px transparent;
    border-top-color: #fb6d11;
    border-left-color: #fb6d11;
    border-radius: 50%;
   
  }
  
 
  