@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');  
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/utilities';
@import "bundles"; 
 
 
html {
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
 
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
} 
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.toggle-path {
  transition: background 0.3s ease-in-out;
}
.toggle-circle {
  top: 0.2rem;
  left: 0.25rem;
  transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle-circle {
  transform: translateX(100%);
}
input:checked ~ .toggle-path {
  background-color:#81E6D9;
} 